<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="horno_datos_servidor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <horno_datos_servidor.Properties.Settings>
            <setting name="directorio_1" serializeAs="String">
                <value>C:\\Users\\HYSTOU\\Desktop</value>
            </setting>
            <setting name="archivo_csv" serializeAs="String">
                <value>datos_acero.csv</value>
            </setting>
            <setting name="directorio_res" serializeAs="String">
                <value>C:\\Users\\HYSTOU\\Desktop\\carpeta\\datos_horno_respaldo.csv</value>
            </setting>
            <setting name="d_source" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="puerto" serializeAs="String">
                <value>3305</value>
            </setting>
            <setting name="db_usuario" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="db_contra" serializeAs="String">
                <value>4dmini5tradoR?1</value>
            </setting>
            <setting name="db_nombre" serializeAs="String">
                <value>aceria_db</value>
            </setting>
            <setting name="num_colada" serializeAs="String">
                <value>NumeroColada</value>
            </setting>
            <setting name="fecha_colada" serializeAs="String">
                <value>Fecha</value>
            </setting>
            <setting name="hora_colada" serializeAs="String">
                <value>Hora</value>
            </setting>
            <setting name="dia_colada" serializeAs="String">
                <value>CONTADOR</value>
            </setting>
            <setting name="recargue_col" serializeAs="String">
                <value>Recargues</value>
            </setting>
            <setting name="oxlan_col" serializeAs="String">
                <value>OxigenoLanceado</value>
            </setting>
            <setting name="pesot_col" serializeAs="String">
                <value>PesoTotal</value>
            </setting>
            <setting name="antracita_col" serializeAs="String">
                <value>Antracita</value>
            </setting>
            <setting name="grafito_col" serializeAs="String">
                <value>Grafito</value>
            </setting>
            <setting name="tcarbon_col" serializeAs="String">
                <value>TotalCarbon</value>
            </setting>
            <setting name="gasoleo_col" serializeAs="String">
                <value>Gasoleo</value>
            </setting>
            <setting name="glp_col" serializeAs="String">
                <value>GLP</value>
            </setting>
            <setting name="ox_col" serializeAs="String">
                <value>Oxigeno</value>
            </setting>
            <setting name="espuma_col" serializeAs="String">
                <value>Espumante</value>
            </setting>
            <setting name="fusion_col" serializeAs="String">
                <value>KWHFusion</value>
            </setting>
            <setting name="tfusion_col" serializeAs="String">
                <value>TiempoFusion</value>
            </setting>
            <setting name="afino_col" serializeAs="String">
                <value>KWHAfino</value>
            </setting>
            <setting name="tafino_col" serializeAs="String">
                <value>TiempoAfino</value>
            </setting>
            <setting name="kwtotal_col" serializeAs="String">
                <value>KWHTotal</value>
            </setting>
            <setting name="pon_col" serializeAs="String">
                <value>PowerON</value>
            </setting>
            <setting name="poff_col" serializeAs="String">
                <value>PowerOff</value>
            </setting>
            <setting name="carbon_col" serializeAs="String">
                <value>Carbon</value>
            </setting>
            <setting name="tempfinal_col" serializeAs="String">
                <value>TemperaturaFinal</value>
            </setting>
            <setting name="ttotal_col" serializeAs="String">
                <value>TiempoTotal</value>
            </setting>
            <setting name="endbrick_col" serializeAs="String">
                <value>EndBrick</value>
            </setting>
            <setting name="grado_col" serializeAs="String">
                <value>Grado</value>
            </setting>
            <setting name="fun_col" serializeAs="String">
                <value>Fundidor</value>
            </setting>
            <setting name="jefe_col" serializeAs="String">
                <value>JefeTurno</value>
            </setting>
            <setting name="hinicio_col" serializeAs="String">
                <value>HoraInicio</value>
            </setting>
            <setting name="tvaciado_col" serializeAs="String">
                <value>TiempoVaciado</value>
            </setting>
            <setting name="jor_col" serializeAs="String">
                <value>Jornada</value>
            </setting>
            <setting name="psmart_col" serializeAs="String">
                <value>PrograSmart</value>
            </setting>
            <setting name="pdigit_col" serializeAs="String">
                <value>PrograDigit</value>
            </setting>
            <setting name="pcesta1_col" serializeAs="String">
                <value>PesoCesta1</value>
            </setting>
            <setting name="pcesta2_col" serializeAs="String">
                <value>PesoCesta2</value>
            </setting>
            <setting name="pcesta3_col" serializeAs="String">
                <value>PesoCesta3</value>
            </setting>
            <setting name="pcesta4_col" serializeAs="String">
                <value>PesoCesta4</value>
            </setting>
            <setting name="pcesta5_col" serializeAs="String">
                <value>PesoCesta5</value>
            </setting>
            <setting name="horno_col" serializeAs="String">
                <value>ColadasHorno</value>
            </setting>
            <setting name="delta_col" serializeAs="String">
                <value>ColadasDelta</value>
            </setting>
            <setting name="celec1" serializeAs="String">
                <value>ColadasElec1</value>
            </setting>
            <setting name="celec2" serializeAs="String">
                <value>ColadasElect2</value>
            </setting>
            <setting name="celec3" serializeAs="String">
                <value>ColadasElect3</value>
            </setting>
            <setting name="caldol_col" serializeAs="String">
                <value>CalDolomitica</value>
            </setting>
            <setting name="calcal_col" serializeAs="String">
                <value>CalCalcitica</value>
            </setting>
            <setting name="kalister_col" serializeAs="String">
                <value>Kalister</value>
            </setting>
            <setting name="torta_col" serializeAs="String">
                <value>Torta</value>
            </setting>
            <setting name="tempcen_col" serializeAs="String">
                <value>TemperaturaCentro</value>
            </setting>
            <setting name="tempevt_col" serializeAs="String">
                <value>TemperaturaEVT</value>
            </setting>
            <setting name="temppuer_col" serializeAs="String">
                <value>TemperaturaPuerta</value>
            </setting>
            <setting name="temp12_col" serializeAs="String">
                <value>Temperatura12</value>
            </setting>
            <setting name="temp23_col" serializeAs="String">
                <value>Temperatura23</value>
            </setting>
            <setting name="temp31_col" serializeAs="String">
                <value>Temperatura31</value>
            </setting>
            <setting name="tsellado_col" serializeAs="String">
                <value>TiempoDeSellado</value>
            </setting>
            <setting name="tarmado_col" serializeAs="String">
                <value>TiempoDeArmado</value>
            </setting>
            <setting name="t1recar_col" serializeAs="String">
                <value>Tiempo1Recargue</value>
            </setting>
            <setting name="tabierta1_col" serializeAs="String">
                <value>TiempoBovedaAbierta1rCarga</value>
            </setting>
            <setting name="t2recar_col" serializeAs="String">
                <value>Tiempo2Recargue</value>
            </setting>
            <setting name="tabierta2_col" serializeAs="String">
                <value>TiempoBovedaAbierta2aCarga</value>
            </setting>
            <setting name="t3recar_col" serializeAs="String">
                <value>Tiempo3Recargue</value>
            </setting>
            <setting name="tabierta3_col" serializeAs="String">
                <value>TiempoBovedaAbierta3aCarga</value>
            </setting>
            <setting name="t4recar_col" serializeAs="String">
                <value>Tiempo4Recargue</value>
            </setting>
            <setting name="tabierta4_col" serializeAs="String">
                <value>TiempoBovedaAbierta4aCarga</value>
            </setting>
            <setting name="tvaciado1_col" serializeAs="String">
                <value>TiempoVaciado1</value>
            </setting>
            <setting name="espc1_col" serializeAs="String">
                <value>KwhEspecificaC1</value>
            </setting>
            <setting name="espc2_col" serializeAs="String">
                <value>KwhEspecificaC2</value>
            </setting>
            <setting name="espc3_col" serializeAs="String">
                <value>KwhEspecificaC3</value>
            </setting>
            <setting name="espc4_col" serializeAs="String">
                <value>KwhEspecificaC4</value>
            </setting>
            <setting name="fecha_mcc" serializeAs="String">
                <value>FechaT</value>
            </setting>
            <setting name="hora_mcc" serializeAs="String">
                <value>HoraT</value>
            </setting>
            <setting name="peso_mcc" serializeAs="String">
                <value>Peso1</value>
            </setting>
            <setting name="lingotes_mcc" serializeAs="String">
                <value>CantLingote</value>
            </setting>
            <setting name="pacero_mcc" serializeAs="String">
                <value>PesoAcero</value>
            </setting>
            <setting name="num_col_mcc" serializeAs="String">
                <value>NumeroColada</value>
            </setting>
            <setting name="minuto" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="directorio_log" serializeAs="String">
                <value>C:\\Users\\HYSTOU\\Desktop\\carpeta\\consola_log.txt</value>
            </setting>
            <setting name="archivo_csv_mcc" serializeAs="String">
                <value>ton_acero.csv</value>
            </setting>
        </horno_datos_servidor.Properties.Settings>
    </userSettings>
</configuration>